body {font-family: Arial, Verdana, 'Times New Roman'; margin: 0; padding: 0;}
.rightimg {
	float: right;
	margin: 42px 0px 14px 7px;
}
.buttonreg {
	margin: 0px 70px; 
}
.FIO {
	text-align: right;
	color: #000000;
	font-weight: bolder;
	
}
.Login {
	text-align: right;
	color: #000000;
	font-weight: bolder;
}
.Password {
	text-align: right;
	color: #000000;
	font-weight: bolder;
}